.Rproj.user
.Rhistory
.RData
.Ruserdata
*.csv
*.eps
*.dta
!data/master.dta
*.gph
*.pdf
*.png
*.rds
*.rtf
*.smcl
*.tex
*.xlsx
/archives
stata_files/dir/*
!stata_files/dir/00_mydirectory.do
!stata_files/dir/01_dir_structure.do
